/*
*{
    border: 1px solid blue;
}
*/
header {
    background-color: #401006;
    text-align: center;
    height: 80px;
    width: 1280px;
    line-height: 80px;

}

header a {
    color: #f2f2f2;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
}

nav {
    width: 1280px;
    height: 40px;
    background-color: #733B2F;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}

nav a {
    color: #f2f2f2;
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    background-color: #401006;
}

.label {
    width: 150px;
    height: 40px;
    background-color: #401006;
    color: #f2f2f2;
    text-align: center;
    line-height: 40px;
    border-radius: 0 20px;
    margin: 30px 0;

}

/*----------*/

/*區塊1*/
.part01 {
    width: 1280px;
    /*box-sizing: border-box;*/
    background-color: aquamarine;

}

.part01_photo {
    width: 600px;
    background-color: purple;
    float: left;

}

.part01_photo img {
    width: 100%;

    /*display: block;
    align-items: center; 
    text-align: center;
    margin: 0;
    padding: 0;*/
}

.part01_text {
    width: 600px;
    background-color: #401006;
    float: left;
    /*align-items: center;*/
    margin: 0px 5px;
    color: snow;

}

.part01_text p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;

}